*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    background: #1b1b1b;
    width: 100%;
    padding: 15px 0;
    /* position: fixed; */
    z-index: 12;

}
nav .menu{
    max-width: 1250px;
    /* background: red; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.menu .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.menu ul{
    display: inline-flex;
}
.menu ul li{
    list-style: none;
    margin-left: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.menu ul li a:hover{
    background: #fff;
    color: black;
}
.img{
    background: url('https://images.pexels.com/photos/4506936/pexels-photo-4506936.jpeg?auto=compress&cs=tinysrgb&w=600') no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    

}
.img::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.title h1{
    color: white;
    font-size: 60px;
}
.content p{
    color: white;
    text-align: center;
    font-size: 20px;
}
.btns button{
    width: 150px;
    height: 50px;

}
.center{
    position: absolute;
    top: 30%;
    left: 30%;


}
.btns{
    position: absolute;
    top: 52%;
    left: 50%;
}